@import "estiloPadrao.css";

::-webkit-input-placeholder {
    font-style: italic;
 }
 :-moz-placeholder {
    font-style: italic;  
 }
 ::-moz-placeholder {
    font-style: italic;  
 }
 :-ms-input-placeholder {  
    font-style: italic; 
 }

body{
    margin: 0px;
    padding: 0;
}
mark{
    background-color: #EC7063;
}

.conteudoBody{
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pedido{
    margin-left: 5vw;
    height: 89vh;
    background-color: #F0F0F0;
}

.resumo{
    padding-left: 1vw;
    padding-right: 1vw;
    float: left;
    margin-left: 1vw;
    height: 80vh;
    width: 32vw;
    background: #F5F5F5;
}

.infos{
    padding-left: 1vw;
    padding-right: 1vw;
    float: right;
    height: 80vh;
    width: 56vw;
    background: #F5F5F5;
    justify-content: center;
}

.venda{
    float:right;
    height: 9vh;
    width: 95vw;
    background:#F5F5F5;
    -webkit-box-shadow: 0px -3px 8px 0px rgba(0,0,0,0.13);
    -moz-box-shadow: 0px -3px 8px 0px rgba(0,0,0,0.13);
    box-shadow: 0px -3px 8px 0px rgba(0,0,0,0.13);
}

.formCliente{
    -webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.13);
    -moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.13);
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.13);
    border-radius: 11px 11px 11px 11px;
    -webkit-border-radius: 11px 11px 11px 11px;
    -moz-border-radius: 11px 11px 11px 11px;
    background-color: #F0F0F0;
    width: 90%;
    margin: 2%;
    padding: 3%;
    padding-top: 5px;
    padding-bottom: 2%;
}

form{
    width: 100%;
    font-size: 1.5vmin;
}

h3{
    margin: 0px;
    padding: 0px;
}

form span{
    display: inline-block;
}

label{
    display:block;
}
input{
    display:block;
    
}

.infos button{
    min-width: 90px;
    padding: 7px;
    border: 1px solid black;
    border-radius: 11px 11px 11px 11px;
    -webkit-border-radius: 11px 11px 11px 11px;
    -moz-border-radius: 11px 11px 11px 11px;
}

.pedido button:hover{
    cursor: pointer;
    background-color: #dddddd;
}

input[type=submit]:hover{
    cursor: pointer;
    background-color: #dddddd;
}

.formPizza{
    -webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.13);
    -moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.13);
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.13);
    border-radius: 11px 11px 11px 11px;
    -webkit-border-radius: 11px 11px 11px 11px;
    -moz-border-radius: 11px 11px 11px 11px;
    background-color: #F0F0F0;
    width: 90%;
    margin: 2%;
    padding: 3%;
    padding-top: 5px;
    padding-bottom: 2%;
}

#fcomplementoPizza{
    width: 80%;
    float: right;
    background-color: white;
    padding: 1%;
}

#fbutAddPizz{ 
    border: solid 1px;
    margin-right: 20px;
    float: right;
    min-width: 90px;
    padding: 7px;
    border-radius: 11px 11px 11px 11px;
    -webkit-border-radius: 11px 11px 11px 11px;
    -moz-border-radius: 11px 11px 11px 11px;
}

.formBebida{
    -webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.13);
    -moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.13);
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.13);
    border-radius: 11px 11px 11px 11px;
    -webkit-border-radius: 11px 11px 11px 11px;
    -moz-border-radius: 11px 11px 11px 11px;
    background-color: #F0F0F0;
    width: 90%;
    margin: 2%;
    padding: 3%;
    padding-top: 5px;
    padding-bottom: 2%;
}


#fbutAddBebida{
    border: solid 1px;
    margin-right: 20px;
    float: right;
    min-width: 90px;
    padding: 7px;
    border-radius: 11px 11px 11px 11px;
    -webkit-border-radius: 11px 11px 11px 11px;
    -moz-border-radius: 11px 11px 11px 11px;
}

.fundopopup{
    top: 0;
    background-color:rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100vw;
    min-height: 100vh;
    z-index: 9990;
    backdrop-filter: blur(5px);
}

.divpopup{
    top: 25vh;
    left: 25vw;
    position: fixed;
    width: 50vw;
    height: 50vh;
    z-index: 9999;
}

#fbutCadCli{
    border: solid 1px;
    margin-right: 20px;
    float: right;
    min-width: 90px;
    padding: 7px;
    border-radius: 11px 11px 11px 11px;
    -webkit-border-radius: 11px 11px 11px 11px;
    -moz-border-radius: 11px 11px 11px 11px;
}

#butFechar{
    position: absolute;
    right: 0;
    width: 2vw;
    height: 2vw;
    background-color:#EC7063;
    color: white;
    border-radius: 11px 11px 11px 11px;
    -webkit-border-radius: 11px 11px 11px 11px;
    -moz-border-radius: 11px 11px 11px 11px;
}

#butFechar:hover{
    cursor: pointer;
    background-color:#b9584d;
}

#msg-box{
    width: 40vw;
    text-align: center;
    position: fixed;
    top: 7vh;
    opacity: 0.8;
    left: 50vw;
    transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;;
    border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.13);
    -moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.13);
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.13);
}
#msg-box p{
    padding: 0;
    margin: 1vh;
}
.fadeout{
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.5s, opacity 0.5s linear;
}

.emcapsu{
    margin-top: 3vh;
    padding-top: 2vh;
    background-color: #F5F5F5;
    border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.13);
    -moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.13);
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.13);
    min-height: 50vh;
}

.emcapsu table{
    margin: auto;
    font-size: 1.5vh;
    margin-top: 1vh;
    border-collapse: collapse;
}

.emcapsu table, td {
    border-bottom: 1px solid;
}

th {
    border: 1px solid;
}

#tableItens button{
    width: 1.2vw;
    height: 1.2vw;
    background-color: #EC7063;
    color: white;
    font-size: 1vw;
    padding: 0;
    justify-content: center;
    align-items: center;
    border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
}

#tableItens button:hover{
    color: black;
}

.pagamento{
    position: absolute;
    right: 0px;
    padding-right: 2vw;
}

.pagamento h2, section, button{
    display: inline-block;
}

.pagamento section{
    margin-right: 2vw;
    padding-top: 1vw;
}

.pagamento select{
    width: 100%;
}

.pagamento label, select{
    display: block;
}

.pagamento h2{
    margin-right: 2vw;
}

.enviarPedido{
    width: 8vw;
    height: 5vh;
    background-color: darkseagreen;
    border-radius: 11px 11px 11px 11px;
    -webkit-border-radius: 11px 11px 11px 11px;
    -moz-border-radius: 11px 11px 11px 11px;
}

