USE [db_pizzaria_2]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_AUT](
	[LGN_AUT] [char](10) NOT NULL,
	[SEN_AUT] [nvarchar](50) NULL,
	[CPF_FUN] [char](11) NULL,
PRIMARY KEY CLUSTERED 
(
	[LGN_AUT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_BEB](
	[CD_BEB] [int] IDENTITY(1,1) NOT NULL,
	[DSC_BEB] [nvarchar](50) NULL,
	[VLR_BEB] [decimal](2, 1) NULL,
	[CD_MAR] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CD_BEB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_CLI](
	[CPF_CLI] [char](11) NOT NULL,
	[NM_CLI] [nvarchar](50) NULL,
	[TEL_CLI] [char](11) NULL,
	[DT_CAD_CLI] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[CPF_CLI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_END](
	[CD_END] [int] IDENTITY(1,1) NOT NULL,
	[LGD_END] [nvarchar](100) NULL,
	[NM_END] [smallint] NULL,
	[CEP_END] [char](8) NULL,
	[CID_END] [nvarchar](50) NULL,
	[BRO_END] [nvarchar](100) NULL,
	[UF_END] [char](2) NULL,
	[CMP_END] [nvarchar](100) NULL,
	[CPF_CLI] [char](11) NULL,
PRIMARY KEY CLUSTERED 
(
	[CD_END] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_FUN](
	[CPF_FUN] [char](11) NOT NULL,
	[NM_FUN] [nvarchar](100) NULL,
	[STS_CAD_FUN] [char](1) NULL,
	[DT_CAD_FUN] [date] NULL,
	[CD_GRP_FUN] [char](3) NULL,
PRIMARY KEY CLUSTERED 
(
	[CPF_FUN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_GRP_FUN](
	[DT_CAD_GRP_FUN] [date] NULL,
	[CD_GRP_FUN] [char](3) NOT NULL,
	[NM_GRP_FUN] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CD_GRP_FUN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_ITEM_PED](
	[QTD_ITEM_PED] [int] NULL,
	[CD_ITEM] [int] NULL,
	[TIPO_ITEM] [char](1) NULL,
	[CD_ITEM_PED] [int] IDENTITY(1,1) NOT NULL,
	[VLR_ITEM] [decimal](5, 2) NULL,
	[CD_PED] [int] NULL,
	[OBS_ITEM] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[CD_ITEM_PED] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_MAR](
	[CD_MAR] [int] IDENTITY(1,1) NOT NULL,
	[DSC_MAR] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CD_MAR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_PED](
	[CD_PED] [int] IDENTITY(1,1) NOT NULL,
	[DT_PED] [date] NULL,
	[STS_PED] [char](1) NULL,
	[CPF_CLI] [char](11) NULL,
	[CPF_FUN] [char](11) NULL,
PRIMARY KEY CLUSTERED 
(
	[CD_PED] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_PIZ](
	[CD_PIZ] [int] IDENTITY(1,1) NOT NULL,
	[DSC_PIZ] [nvarchar](50) NULL,
	[TMN_PIZ] [nvarchar](15) NULL,
	[VLR_PIZ] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[CD_PIZ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_TIP_PAG](
	[CD_TIP_PAG] [char](1) NOT NULL,
	[DESC_TIP_PAG] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CD_TIP_PAG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_UND_NGC](
	[CD_UND_NGC] [int] NOT NULL,
	[CNPJ_UND_NGC] [char](14) NULL,
	[RAZ_SCL_UND_NGC] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[CD_UND_NGC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_VEN](
	[CD_VEN] [int] IDENTITY(1,1) NOT NULL,
	[VLR_TOTAL] [decimal](5, 2) NULL,
	[CD_PED] [int] NULL,
	[CD_TIP_PAG] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[CD_VEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TB_AUT] ([LGN_AUT], [SEN_AUT], [CPF_FUN]) VALUES (N'000       ', N'Senha123', N'00000000000')
INSERT [dbo].[TB_AUT] ([LGN_AUT], [SEN_AUT], [CPF_FUN]) VALUES (N'111       ', N'Senha123', N'11111111111')
INSERT [dbo].[TB_AUT] ([LGN_AUT], [SEN_AUT], [CPF_FUN]) VALUES (N'1115559991', N'ESenha123', N'11155599912')
GO
SET IDENTITY_INSERT [dbo].[TB_BEB] ON 

INSERT [dbo].[TB_BEB] ([CD_BEB], [DSC_BEB], [VLR_BEB], [CD_MAR]) VALUES (1, N'Cerveja Brahma', CAST(3.5 AS Decimal(2, 1)), 3)
INSERT [dbo].[TB_BEB] ([CD_BEB], [DSC_BEB], [VLR_BEB], [CD_MAR]) VALUES (2, N'Cerveja Skol', CAST(3.2 AS Decimal(2, 1)), 4)
INSERT [dbo].[TB_BEB] ([CD_BEB], [DSC_BEB], [VLR_BEB], [CD_MAR]) VALUES (3, N'Refrigerante Coca-Cola', CAST(4.0 AS Decimal(2, 1)), 2)
SET IDENTITY_INSERT [dbo].[TB_BEB] OFF
GO
INSERT [dbo].[TB_CLI] ([CPF_CLI], [NM_CLI], [TEL_CLI], [DT_CAD_CLI]) VALUES (N'00000000000', N'Valquiria Souza', N'11000000000', CAST(N'2023-05-08' AS Date))
INSERT [dbo].[TB_CLI] ([CPF_CLI], [NM_CLI], [TEL_CLI], [DT_CAD_CLI]) VALUES (N'11122233344', N'João da Silva Pereira Junior', N'11999999999', CAST(N'2023-05-06' AS Date))
INSERT [dbo].[TB_CLI] ([CPF_CLI], [NM_CLI], [TEL_CLI], [DT_CAD_CLI]) VALUES (N'22233344455', N'Maria Souza', N'11988888888', CAST(N'2023-05-06' AS Date))
GO
SET IDENTITY_INSERT [dbo].[TB_END] ON 

INSERT [dbo].[TB_END] ([CD_END], [LGD_END], [NM_END], [CEP_END], [CID_END], [BRO_END], [UF_END], [CMP_END], [CPF_CLI]) VALUES (2, N'Rua Oratório', 123, N'09280550', N'Santo André', N'Bangú', N'SP', N'', N'11122233344')
INSERT [dbo].[TB_END] ([CD_END], [LGD_END], [NM_END], [CEP_END], [CID_END], [BRO_END], [UF_END], [CMP_END], [CPF_CLI]) VALUES (3, N'Rua Francisco Alves', 235, N'04829120', N'São Paulo', N'Jardim Eliane', N'SP', N'Casa 2', N'22233344455')
INSERT [dbo].[TB_END] ([CD_END], [LGD_END], [NM_END], [CEP_END], [CID_END], [BRO_END], [UF_END], [CMP_END], [CPF_CLI]) VALUES (4, N'Rua Arthur Corradi', 116, N'03570000', N'São Paulo', N'Cangaíba', N'SP', N'Casa 3', N'33344455566')
SET IDENTITY_INSERT [dbo].[TB_END] OFF
GO
INSERT [dbo].[TB_FUN] ([CPF_FUN], [NM_FUN], [STS_CAD_FUN], [DT_CAD_FUN], [CD_GRP_FUN]) VALUES (N'00000000000', N'Kauan Santos Rocha', N'A', CAST(N'2022-01-01' AS Date), N'GER')
INSERT [dbo].[TB_FUN] ([CPF_FUN], [NM_FUN], [STS_CAD_FUN], [DT_CAD_FUN], [CD_GRP_FUN]) VALUES (N'01234567819', N'Lucas Sousa', N'D', CAST(N'2022-10-10' AS Date), N'GER')
INSERT [dbo].[TB_FUN] ([CPF_FUN], [NM_FUN], [STS_CAD_FUN], [DT_CAD_FUN], [CD_GRP_FUN]) VALUES (N'11111111111', N'Hugo Cezar', N'A', CAST(N'2022-02-02' AS Date), N'GER')
GO
INSERT [dbo].[TB_GRP_FUN] ([DT_CAD_GRP_FUN], [CD_GRP_FUN], [NM_GRP_FUN]) VALUES (CAST(N'2023-05-06' AS Date), N'FIN', N'FINANCEIRO')
INSERT [dbo].[TB_GRP_FUN] ([DT_CAD_GRP_FUN], [CD_GRP_FUN], [NM_GRP_FUN]) VALUES (CAST(N'2023-05-06' AS Date), N'GER', N'GERENCIAL')
INSERT [dbo].[TB_GRP_FUN] ([DT_CAD_GRP_FUN], [CD_GRP_FUN], [NM_GRP_FUN]) VALUES (CAST(N'2023-05-06' AS Date), N'LOG', N'LOGISTICA')
GO
SET IDENTITY_INSERT [dbo].[TB_ITEM_PED] ON 

INSERT [dbo].[TB_ITEM_PED] ([QTD_ITEM_PED], [CD_ITEM], [TIPO_ITEM], [CD_ITEM_PED], [VLR_ITEM], [CD_PED], [OBS_ITEM]) VALUES (1, 1, N'B', 1, CAST(3.50 AS Decimal(5, 2)), 1, NULL)
INSERT [dbo].[TB_ITEM_PED] ([QTD_ITEM_PED], [CD_ITEM], [TIPO_ITEM], [CD_ITEM_PED], [VLR_ITEM], [CD_PED], [OBS_ITEM]) VALUES (2, 2, N'B', 2, CAST(6.40 AS Decimal(5, 2)), 2, NULL)
INSERT [dbo].[TB_ITEM_PED] ([QTD_ITEM_PED], [CD_ITEM], [TIPO_ITEM], [CD_ITEM_PED], [VLR_ITEM], [CD_PED], [OBS_ITEM]) VALUES (1, 3, N'B', 3, CAST(4.00 AS Decimal(5, 2)), 3, NULL)
SET IDENTITY_INSERT [dbo].[TB_ITEM_PED] OFF
GO
SET IDENTITY_INSERT [dbo].[TB_MAR] ON 

INSERT [dbo].[TB_MAR] ([CD_MAR], [DSC_MAR]) VALUES (1, N'Guaraná Antarctica')
INSERT [dbo].[TB_MAR] ([CD_MAR], [DSC_MAR]) VALUES (2, N'Coca-Cola')
INSERT [dbo].[TB_MAR] ([CD_MAR], [DSC_MAR]) VALUES (3, N'Brahma')
SET IDENTITY_INSERT [dbo].[TB_MAR] OFF
GO
SET IDENTITY_INSERT [dbo].[TB_PED] ON 

INSERT [dbo].[TB_PED] ([CD_PED], [DT_PED], [STS_PED], [CPF_CLI], [CPF_FUN]) VALUES (1, CAST(N'2023-05-06' AS Date), N'A', N'11122233344', N'00000000000')
INSERT [dbo].[TB_PED] ([CD_PED], [DT_PED], [STS_PED], [CPF_CLI], [CPF_FUN]) VALUES (2, CAST(N'2023-05-06' AS Date), N'A', N'22233344455', N'01234567819')
INSERT [dbo].[TB_PED] ([CD_PED], [DT_PED], [STS_PED], [CPF_CLI], [CPF_FUN]) VALUES (3, CAST(N'2023-05-05' AS Date), N'A', N'33344455566', N'11111111111')
SET IDENTITY_INSERT [dbo].[TB_PED] OFF
GO
SET IDENTITY_INSERT [dbo].[TB_PIZ] ON 

INSERT [dbo].[TB_PIZ] ([CD_PIZ], [DSC_PIZ], [TMN_PIZ], [VLR_PIZ]) VALUES (1, N'Calabresa', N'Broto', CAST(22.00 AS Decimal(5, 2)))
INSERT [dbo].[TB_PIZ] ([CD_PIZ], [DSC_PIZ], [TMN_PIZ], [VLR_PIZ]) VALUES (2, N'Margherita', N'Broto', CAST(25.00 AS Decimal(5, 2)))
INSERT [dbo].[TB_PIZ] ([CD_PIZ], [DSC_PIZ], [TMN_PIZ], [VLR_PIZ]) VALUES (3, N'Quatro queijos', N'Broto', CAST(28.00 AS Decimal(5, 2)))
SET IDENTITY_INSERT [dbo].[TB_PIZ] OFF
GO
INSERT [dbo].[TB_TIP_PAG] ([CD_TIP_PAG], [DESC_TIP_PAG]) VALUES (N'C', N'CREDITO')
INSERT [dbo].[TB_TIP_PAG] ([CD_TIP_PAG], [DESC_TIP_PAG]) VALUES (N'D', N'DEBITO')
INSERT [dbo].[TB_TIP_PAG] ([CD_TIP_PAG], [DESC_TIP_PAG]) VALUES (N'E', N'DINHEIRO (ESPECIE)')
GO
INSERT [dbo].[TB_UND_NGC] ([CD_UND_NGC], [CNPJ_UND_NGC], [RAZ_SCL_UND_NGC]) VALUES (1, N'12345678901234', N'Napolle Pizzaria')
GO
SET IDENTITY_INSERT [dbo].[TB_VEN] ON 

INSERT [dbo].[TB_VEN] ([CD_VEN], [VLR_TOTAL], [CD_PED], [CD_TIP_PAG]) VALUES (2, CAST(25.50 AS Decimal(5, 2)), 1, N'C')
INSERT [dbo].[TB_VEN] ([CD_VEN], [VLR_TOTAL], [CD_PED], [CD_TIP_PAG]) VALUES (3, CAST(56.40 AS Decimal(5, 2)), 2, N'C')
INSERT [dbo].[TB_VEN] ([CD_VEN], [VLR_TOTAL], [CD_PED], [CD_TIP_PAG]) VALUES (4, CAST(32.00 AS Decimal(5, 2)), 3, N'C')
SET IDENTITY_INSERT [dbo].[TB_VEN] OFF
GO
ALTER TABLE [dbo].[TB_AUT]  WITH CHECK ADD  CONSTRAINT [FK_TB_AUT_2] FOREIGN KEY([CPF_FUN])
REFERENCES [dbo].[TB_FUN] ([CPF_FUN])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TB_AUT] CHECK CONSTRAINT [FK_TB_AUT_2]
GO
ALTER TABLE [dbo].[TB_BEB]  WITH CHECK ADD  CONSTRAINT [FK_TB_BEB_2] FOREIGN KEY([CD_MAR])
REFERENCES [dbo].[TB_MAR] ([CD_MAR])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TB_BEB] CHECK CONSTRAINT [FK_TB_BEB_2]
GO
ALTER TABLE [dbo].[TB_END]  WITH CHECK ADD  CONSTRAINT [FK_TB_END_2] FOREIGN KEY([CPF_CLI])
REFERENCES [dbo].[TB_CLI] ([CPF_CLI])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TB_END] CHECK CONSTRAINT [FK_TB_END_2]
GO
ALTER TABLE [dbo].[TB_FUN]  WITH CHECK ADD  CONSTRAINT [FK_TB_FUN_2] FOREIGN KEY([CD_GRP_FUN])
REFERENCES [dbo].[TB_GRP_FUN] ([CD_GRP_FUN])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TB_FUN] CHECK CONSTRAINT [FK_TB_FUN_2]
GO
ALTER TABLE [dbo].[TB_ITEM_PED]  WITH CHECK ADD  CONSTRAINT [FK_TB_ITEM_PED_2] FOREIGN KEY([CD_PED])
REFERENCES [dbo].[TB_PED] ([CD_PED])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TB_ITEM_PED] CHECK CONSTRAINT [FK_TB_ITEM_PED_2]
GO
ALTER TABLE [dbo].[TB_PED]  WITH CHECK ADD  CONSTRAINT [FK_TB_PED_2] FOREIGN KEY([CPF_CLI])
REFERENCES [dbo].[TB_CLI] ([CPF_CLI])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TB_PED] CHECK CONSTRAINT [FK_TB_PED_2]
GO
ALTER TABLE [dbo].[TB_PED]  WITH CHECK ADD  CONSTRAINT [FK_TB_PED_3] FOREIGN KEY([CPF_FUN])
REFERENCES [dbo].[TB_FUN] ([CPF_FUN])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TB_PED] CHECK CONSTRAINT [FK_TB_PED_3]
GO
ALTER TABLE [dbo].[TB_VEN]  WITH CHECK ADD  CONSTRAINT [FK_TB_VEN_2] FOREIGN KEY([CD_PED])
REFERENCES [dbo].[TB_PED] ([CD_PED])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TB_VEN] CHECK CONSTRAINT [FK_TB_VEN_2]
GO
ALTER TABLE [dbo].[TB_VEN]  WITH CHECK ADD  CONSTRAINT [FK_TB_VEN_3] FOREIGN KEY([CD_TIP_PAG])
REFERENCES [dbo].[TB_TIP_PAG] ([CD_TIP_PAG])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TB_VEN] CHECK CONSTRAINT [FK_TB_VEN_3]
GO
